version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.1
    steps:
      - checkout
      - run: echo "A first hello"
      - run: 
          name: Replace Build Number
          command: |
            sed -i "s/@build_date@/$(date '+%Y%m%d.%H%M%S')/" test.json
      - run: cat test.json
